.container {
    display: flex;
    padding: 15px;
}
.date{
    text-align: center;
    width: 200px;
    margin-right: 30px;
}
.name{
    text-align: center;
    width: 200px;
    margin-right: 30px;
}
.amount{
    text-align: center;
    width: 200px;
    margin-right: 30px;
}
.distance{
    text-align: center;
    width: 200px;
    margin-right: 30px;
}